In [1]:
import sys
import os
sys.path.append("../")
from src.data.session import Session

In [2]:
%autoreload 2
%reload_ext autoreload

UsageError: Line magic function `%autoreload` not found.

In [18]:
project_dir = "/Users/anacarolinabotturabarros/PycharmProjects/RSCMINHD/data"
animal = 'cohoHDC1_mG1'
session = "2023_03_10/15_12_54"

my_session = Session(project_dir,session,animal)

In [19]:
my_session.load_all_data()

In [20]:
my_session.calculate_dF_F()
my_session.normalise_minmax()

In [21]:
my_session.ho_data

       Time Stamp (ms)        qw        qx        qy        qz  frame
0                  -25  0.453491  0.298340 -0.234924 -0.806335      0
1                   36  0.421082  0.388489 -0.244751 -0.782227      1
2                   78  0.324036  0.474304 -0.280090 -0.769104      2
3                  128  0.163330  0.502991 -0.343506 -0.776062      3
4                  177  0.131592  0.485352 -0.418457 -0.756287      4
...                ...       ...       ...       ...       ...    ...
18422           932599  0.894348  0.347168  0.046020 -0.278381  18422
18423           932648  0.892761  0.348816  0.112610 -0.261902  18423
18424           932700  0.892822  0.339966  0.137512 -0.261475  18424
18425           932751  0.898010  0.322266  0.119202 -0.274841  18425
18426           932802  0.900208  0.328064  0.083923 -0.273743  18426

[18427 rows x 6 columns]

In [22]:
my_session.img_data

         unit_id  frame         C      df/f    norm_C
0              0      0  0.000000  0.000000  0.000000
1              0      1  0.000000  0.000000  0.000000
2              0      2  0.000000  0.000000  0.000000
3              0      3  0.000000  0.000000  0.000000
4              0      4  0.000000  0.000000  0.000000
...          ...    ...       ...       ...       ...
1370095       85  18422  0.307443  0.092625  0.003337
1370096       85  18423  0.305195  0.091948  0.003313
1370097       85  18424  0.302963  0.091275  0.003288
1370098       85  18425  0.300747  0.090608  0.003264
1370099       85  18426  0.298548  0.089945  0.003240

[1370100 rows x 5 columns]